.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loginBtn {
  width: 35%;
  height: 35%;
  background-color: black;
  color: white;
  border-radius: 10px;
}

.loginBtn:hover {
  cursor: pointer;
}

a {
  font-size: 11px;
  text-decoration: none;
}

.linkBtn {
  font-size: 15%;
  background-color: white;
  color: black;
}

.home {
  font-size: 30px;
  color: black;
  margin-right: 90%;
}

.content{
  margin-top: 5%;
  margin-left: 34%;
  width: 30%;
  height: 350px;
  border: 1px solid black;
}